#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#modal-background {
  position: fixed;
  background-color: #192231;
}

#modal-content {
  position: relative;
  background: #192231;
  backdrop-filter: blur(10px);
  padding: 10px;
  margin-top: 20px;
  border-radius: 15px;
  max-width: 500px;
  width: 60%;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  color: white;
}

#modal-content .login-title {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
