/* Navigation Bar */
body {
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between; /* Push logo and links to ends */
  align-items: center; /* Center vertically */
  background-color: #192231;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}



/* Logo */
.navbar-logo img.logo {
  height: 90px; /* Adjust logo size */
  width: 90px;
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* Smooth transition for size changes */
  border-radius: 50%;
  border: 2px solid #b79a6d; /* Customize the border color and thickness */
}

.navbar-logo img.logo:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
  border: 2px solid goldenrod; /* Change border color on hover if desired */
}

/* Links */
.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px; /* Add spacing between items */
  margin: 0;
  padding: 0;
}

/* Profile Button */
.profile-button-container {
  position: relative;
}

ul.profile-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  list-style: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  min-width: 150px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

ul.profile-dropdown.hidden {
  display: none;
}

ul.profile-dropdown li {
  margin: 8px 0;
  font-size: 14px;
}

/* Button Styling */
.navbar-links button {
  background-color: #d1c09f; /* Set a dark gray background */
  color: white; /* White text color */
  border: none; /* Remove border */
  padding: 8px 12px; /* Add padding for a rectangular shape */
  border-radius: 12px; /* Optional: slightly rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
  transition: background-color 0.1s ease, transform 0.1s ease; /* Smooth hover effect */
}

.navbar-links button:hover {
  background-color:goldenrod; /* Change border color on hover if desired */
  transform: scale(1.05); /* Slightly enlarge button on hover */
  ;
}

.create-spot-button {
  padding: 10px 15px;
  font: arial;
  background-color: goldenrod;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.create-spot-button:hover {
  background-color: darkgoldenrod;
}
