/* Styling for the login modal */
.login-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: auto;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
  position: relative; /* For positioning the close button */
}

/* Title styling */
.login-modal h1 {
  margin-bottom: 30px;
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Input fields */
.login-modal input {
  width: 60%; /* Full width to match container */
  padding: 10px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

.login-modal input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.login-modal input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.3);
}

/* Button styling */
.login-modal-button {
  width: 80%; /* Ensure button matches input field width */
  padding: 10px;
  margin-top: 10px; /* Add some spacing above the button */
  background: goldenrod;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.login-modal-button:hover {
  background: #ffcc00; /* Slightly brighter goldenrod */
  transform: scale(1.05); /* Slightly enlarge button on hover */
}

/* Demo login button styling */
.demo-login-button {
  margin-top: 10px;
  width: 80%; /* Match input field and other button widths */
  padding: 10px;
  background: goldenrod;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  font-weight: bold;
}

.demo-login-button:hover {
  background: #ffcc00; /* Slightly brighter goldenrod */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

/* Error message styling */
.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}

/* Close modal button */
.close-modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.close-modal-button:hover {
  transform: scale(1.2); /* Slight enlargement on hover */
  color: goldenrod; /* Match modal theme */
}
